html,body
{
    font-family: 'Libre Franklin', sans-serif;
    margin: 0 !important;
    height: 100%;
    text-align: center;
}
#mapa
{
    float: left;
    width: 100%;
    height: 100%;
    background-color: gray;
    position: fixed;
}
#formularz
{
    width: 330px;
    background-color: #161b20;
    height: 100%;
    text-align: center;
    position: fixed;
	z-index: 2;
    opacity: 0.9;
    margin-left: auto;
    margin-right: auto;
    color: #2cbfa4;
}
.kontenerDanych
{

    margin-left: auto;
    margin-right: auto;
    width: 290px;

}
input[type=text],input[type=password],#records
{
    width: 240px;
    background-color: #f5f7fa;
    padding: 10px;
    margin: 3px;
    border: none;
    font-size: 14px;
    color: #161b20;
}
#records {
    width: 260px;
    margin: auto;
    padding: 0px;
}

#records span {
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    width: 250px;;
    display: inline-block;
    text-align: left;
}

#name {
    margin-bottom: 0px;   
}

#records span:hover {
    background-color: #2cbfa4;
}

.table input[type=text]
{
    width: 120px;
    margin: 0px;
}
input[type=text]:focus,input[type=password]:focus
{
    box-shadow: 0 0 8px 1px #2cbfa4;
}
button
{
    width: 200px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    background-color: #2cbfa4;
    border-radius: 25px;
    color: #f5f7fa;
    font-size: 14px;
}
.smallbutton {
    width: 135px;
    margin-left: 5px;
    margin-right: 5px;
    float: left;
}
button:hover,a:hover
{
    background-color: #1a9d92;
    cursor: pointer;
}
button.usun
{
    background-color: #e3e3e3;
    border: 1px solid grey;
    width: 80px;
    color: #2f4052;
    border-radius: 5px;
}
button.usun:hover
{
    background-color: #c55151;
    color: white;
}
.table~button {
    background: #2f4052;
    float: right;
    width: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 1em;
}
.table~button:hover {
    background: #c55151;
}

#tableContainer, #tableContainerByLocation
{
    /* Background pattern from subtlepatterns.com */
    /*background-image: url("img/brickwall_@2X.png");*/
    background-color: rgba(34,41,48, 0.9);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
}

.table
{
    background-color: #161b20;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 60px;
    margin-bottom: 40px;
    border-collapse: collapse;
    width: 850px;
    position: absolute;
    z-index: 3;
}
tr .header
{
    background-color: #2f4052;
    height: 42px;
    color: #2cbfa4;
    font-size: 16px;
}
tr:nth-child(even)
{
    background-color: #e3e3e3;
}
tr:nth-child(odd)
{
    background-color: #f6f6f6;
}

th, td {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    color: #2f4052;
    font-size: 14px;
}
.fileContainer {
    overflow: hidden;
    position: relative;
    color: white;
}
.fileContainer:hover
{
    color: #1a9d92;
    cursor: pointer;
}
.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    filter: alpha(opacity=0);
    height: 20px;
    width: 300px;

    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}